<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Webpage template!</title>
  <meta name="description" content="A template for all the webpages on sckart.xyz">
  <link rel="icon" href="/favicon.png" sizes="192x192" type="image/png">

  <link rel="stylesheet" href="/style-generic.css">
</head>
<body>
  <div class="page-wrapper">
    <nav class="navbar">
      <ul>
        <li><a href="/index.html">sckart.xyz</a></li>
        <li><a href="/articles/">Articles</a></li>
        <li><a href="/tools/">tools</a></li>
      </ul>
    </nav>

    <main class="content">
      this is a template for all of the webpages on this website
    </main>

    <nav class="navbar" style="bottom: 0;">
      <ul>
        <li><a href="/privacy-policy/">Privacy Policy</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li style="margin-left: auto;"><p>Hello World!</p></li>
      </ul>
    </nav>
  </div>
</body>
</html>
